<li data-type="button" data-key="hyperlink" data-l10n-id="ep_hyperlinked_text.hyperlink.title">
  <a class="grouped-left ep_hyperlinked_text" data-l10n-id="ep_hyperlinked_text.hyperlink.title" title="Add/Edit Hyperlink" aria-label="Add/Edit Hyperlink">
    <button class="buttonicon ep_hyperlinked_text hyperlink buttonicon-link" aria-label="Add/Edit Hyperlink"></button>
  </a>
</li> 